<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    {% block page_styles %}
    {% endblock %}
</head>
<body>
    <ul class="menu">
        <li class="menu__link">
            <a href="{% url 'main:index' %}" class="menu__link-inner_main">Main</a>
        </li>
        <li class="menu__link">
            <a href="{% url 'products:list' %}" class="menu__link-inner_products">Products</a>
        </li>
        <li class="menu__link">
            <a href="{% url 'categories:list' %}" class="menu__link-inner_categories">Categories</a>
        </li>
        <li class="menu__link">
            <a href="{% url 'main:contacts' %}" class="menu__link-inner_contacts">Contacts</a>
        </li>
        <li class="menu__link">
            <a href="{% url 'main:about' %}" class="menu__link-inner_about">About</a>
        </li>
    </ul>
    <section class="page">
        {% block page_content %}
        {% endblock %}
    </section>
    {% block page_js %}
    {% endblock %}
</body>
</html>